= form_for @product do |f|
  - if @product&.errors&.full_messages&.any?
    #error_explanation{ "data-turbo-cache" => "false" }
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |message|
          %li= message
  .field.mb-2.flex.flex-col
    = f.label :name
    = f.text_field :name, class: "w-96"
  .field.mb-2.flex.flex-col
    = f.label :description
    = f.text_area :description, class: "w-96"
  .field.mb-2.flex.flex-col
    = f.label :packing_type
    = f.select :packing_type, options_for_select(@product.decorate.humanized_packing_types, @product.packing_type), class: 'text-light'
  .field.mb-2.flex.flex-col
    = f.label :image
    = f.file_field :image, class: "w-96 mt-2"
  .actions
    = f.submit 'Save', class: "dark-button"