= form_for @product do |f|
  - if @product&.errors&.full_messages&.any?
    #error_explanation{ "data-turbo-cache" => "false" }
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |message|
          %li= message
  .field.mb-2.flex.flex-col
    = f.label :name
    = f.text_field :name, class: "w-96"
  .field.mb-2.flex.flex-col
    = f.label :Desc
    = f.text_area :description, class: "w-96"
  .field.mb-2.flex.flex-col
    = f.label :Menge
    = f.number_field :amount, class: "w-96"
  .field.mb-2.flex.flex-col
    = f.label :aasm_state
    = f.check_box :aasm_state, "#{@product.class}_aasm_state"
  .field.mb-2.flex.flex-col
    = f.label :image
    = f.file_field :image, class: "w-96 mt-2"
  .actions
    = f.submit 'Save', class: "dark-button"
