.flex.items-center.justify-between.px-4.py-2.border.bg-white.rounded-xl.mb-4
  .w-full.flex.items-center.justify-between.gap-8.py-2
    %div.w-60
      %h2.rounded-full.bg-gray-200.text-3xl.flex.items-center.justify-center{style: "width: 70px; height: 70px;"}
        = @order.username

    %div.flex.flex-col.items-start.justify-between.gap-8.w-full
      %ul.flex.justify-between.items-center.gap-2.w-full.text-left
        %li.text-md.font-medium Datum
        %li.text-md.font-medium User
        %li.text-md.font-medium Artikel
        %li.text-md.font-medium Menge

      %ul.flex.justify-between.items-center.gap-2.w-full
        %li= @order.created_at
        %li= @order.username short: false
        %li= @order.name
        %li= @order.packing

    - if @current_user.role_supervisor?
      %div.flex.justify-center.items-center.w-96.gap-2
        = link_to "Accept", accept_order_path(@order.id), data: { turbo_method: :post }, class: "product-btn bg-teal-800 hover:bg-green-600 hover:text-black cursor-pointer"
        = link_to "Deny", deny_order_path(@order.id), data: { turbo_method: :post }, class: "product-btn bg-red-800 hover:bg-red-600 hover:text-black cursor-pointer"
    - else
      %div.flex.justify-center.items-center.w-96
        %span.product-btn{class: @order.status_color }
          = @order.status
