!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}

    %title YooNeed

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"

    %link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css", integrity: "sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==", crossorigin: "anonymous", referrerpolicy: "no-referrer"}

    = javascript_importmap_tags

  %body.flex
    .sidebar
      = render 'partials/sidebar'
      = turbo_frame_tag "modal"

    .body-content
      = render 'partials/navbar'

      = render 'partials/flash'

      %main.container
        .w-full.h-full
          = yield
